<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Notes</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    <body>
        <h1>Notes</h1>
        <hr>
        <div class="notes">
            {% for note in notes %}
            <div class="note">
                <h3>{{ note.title }}</h3>
                <p>
                    <form>
                        {% csrf_token %}
                        <a href="" class="delete" note_id={{ note.id }}>delete</a>
                    </form>
                </p>
                <form>
                    {% csrf_token %}
                    <textarea name="description" rows="5" cols="20" placeholder="Enter description here..." note_id={{ note.id }}>{{ note.description }}</textarea>
                </form>
                <hr>
            </div>
            {% endfor %}
        </div>
        <br>
        <form id="form_new">
            {% csrf_token %}
            <input type="text" name="title" placeholder="Insert note title here..." id="new_title">
            <br><br>
            <input type="submit" value="Add Note">
        </form>

        <script>
            function showAllNotes(res) {
                $('.notes').html(res);
            }

            $('#form_new').submit(function(e) {
                e.preventDefault();
                $.ajax({
                    url: '/add',
                    method: 'POST',
                    data: $(this).serialize(),
                    success: function(res) {
                        showAllNotes(res);
                    }
                });
                $("#new_title").val('');
            });

            $(document).on("focusout", "textarea", function() {
                $.ajax({
                    url: '/save/' + $(this).attr('note_id'),
                    method: 'POST',
                    data: $(this).parent().serialize(),
                    success: function(res) {
                        $(this).val(res);
                    }
                });
            });

            $(document).on("click", ".delete", function(e) {
                e.preventDefault();
                $.ajax({
                    url: '/delete/' + $(this).attr('note_id'),
                    method: 'POST',
                    data: $(this).parent().serialize(),
                    success: function(res) {
                        showAllNotes(res);
                    }
                });
            });
        </script>
    </body>
</html>